doctype html
html
    head
        title Harry Dance Academy
        block script 
        block style 
           
    body 
        nav#navbar
            ul
                div#logo
                    img(src="/static/img/logo.png")
                    | HDA
                li #[a(href="/") Home]
                li #[a(href="/about") About]
                li #[a(href="/services") Services]
                li #[a(href="/ClassInfo") Class Info]
                li #[a(href="/contact") Contact Us]
    block content 
    footer#footer
        |  copyright @ 2022 harryDanceAcendmy  

