h1{
    text-align: center;
    padding: 10px;
}
#ContactBox{
    height: 500px;
    background-color: #e0b9b9;
    /* border: solid black; */
}
.myInput{
    margin: 8px;
    width: 40%;
    padding: 2px 5px;
    border: 2px solid #c95d5d;
    border-radius: 5px;

}
.myForm{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.btn{
    width: 11%;
    font-size: larger;
    margin: 15px;
    padding: 3px;
    background: #ab4141;
    border-radius: 9px;
    cursor: pointer;
}